/*==============================
=            Layout            =
==============================*/

.l-container {
    @include container('all');
}

.l-spacer {
    @include spacer('left', 'vertical');

    &.-horizontal {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &.-center {
        align-items: center;
    }
}

.l-grid {
    @include grid;
}