/*======================================
=           External links             =
======================================*/

@mixin link($fs: 'regular') {
    --link-color: var(--color-black);
    
    @if $fs == 'small' {
        --link-fs: var(--fs-small);
        --link-fw: 400;
        --svg-translate: translate(0, 1px);
    }

    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--link-color);
    font-family: var(--ff-body);
    font-size: var(--link-fs, var(--fs-medium));
    font-weight: var(--link-fw, bold);
    line-height: 1.1;
    transition: color 0.2s ease;

    .o-icon {
        --svg-width: 1rem;
        transform: var(--svg-translate, translate(0, 20%));
        transition: transform 0.6s $out-expo;
    }

    &:hover {
        --link-color: var(--color-dark-blue);
        --svg-translate: translate(10%, 0);
    }
}